* {
  margin: 0 auto;
  font-family: montserrat;
  font-weight: 500;
}
body {
  text-align: center;
}
.container {
  text-align: cneter;
}
.playground {
  border-radius: 5px;
  width: 600px;
  height: 600px;
  border: 1px solid red;
  overflow: hidden;
}

.level {
  background-color: black;
  height: 30px;
  padding: 7px 0 0 0;
  color: wheat;
  text-align: center;
  position: relative;
}
#level_cate {
  margin-left: 10px;
}
.score {
  padding: 5px 0 5px 0;
  width: 599px;
  border: 1px solid black;
  border-radius: 5px;
}

input {
  padding: 10px;
  width: 300px;
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}

.info {
  width: 600px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
}
.timer {
  margin-top: 5px;
}

button {
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  background-color: rgb(7, 7, 99);
  border: 1px solid rgb(0, 0, 169);
  color: white;
  font-size: 16px;
}

button:hover {
  color: rgb(0, 0, 169);
  background-color: rgb(255, 140, 0);
  border: 1px solid rgb(255, 140, 0);
}

.words > p {
  margin: 10px;
  float: left;
  border: 1px solid black;
  border-radius: 5px;
}

.words > p .hidden {
  display: none;
}

.health {
  position: absolute;
  top: 695px;
  left: 650px;
}
